.footer {
    background-color: #fff;
    color: rgba(33, 33, 33, 0.7);
    font-size: 8px;
    text-decoration: none;
    background-color: #fcf5e5;
    border-top: 1px rgba(33, 33, 33, 0.4) solid;
    padding: 60px 0;
}

.footer__copyright {
    font-family: "Poppins";
    font-size: 20px;
    opacity: 40%;
    line-height: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0;
}