.profile {
    display: flex;
    padding: 34px 0 20px;
    border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}
.profile__avatar {
    height: 190px;
    width: 190px;
    margin-right: 20px;
    border-radius: 8px;
    object-fit: cover;
}

.profile__column {
    display: flex;
    flex-direction: column;
}

.profile__name {
    margin: 0 0 12px;
    font-weight: 500;
    font-family: "Poppins";
    font-size: 32px;
    line-height: 24px;
    letter-spacing: 0;
    max-width: 428px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 1200px;
}

.profile__description {
    margin: 0;
    font-family: "Poppins";
    font-weight: 500; 
    line-height: 24px;
    letter-spacing: 0;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    max-width: 1300px;
}

.profile__edit-btn {
    margin: 120px 20px 0 0;
    font-weight: 500;
    font-size: 16px;
    color: #212121;
    opacity: 70%;
    border: none;
    font-family: "Poppins";
    background-color: transparent;
    display: flex;
    gap: 8px;
    padding: 0;
}

.profile__edit-btn:hover {
    background-color: black;
}

.profile__add-btn {
    margin-left: auto;
    margin-top: auto;
    border: 2px;
    border-radius: 8px;
    font-family: "Poppins";
    color: #fff;
    background-color: black;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    padding: 18px 32px 18px 32px;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}

.profile__add-btn:hover {
    background-color: black;
}

@media screen and (max-wdith: 627px) {
    .profile {
        flex-direction: column;
        max-width: 288px;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }

    .profile__avatar {
        margin: 0 0 12px;
        height: 80px;
        width: 80px;
    }

    .profile__name {
        font-size: 20px;
        margin: 0 0 12px;
        font-weight: 500;
        line-height: 1;
    }

    .profile__description {
        margin: 0 0 32px;
    }

    .profile__column {
        margin: 0 0 20px;
    }

    .profile__add-btn {
        margin: 0;
        width: 100%;
    }
}